body {
    text-align: center;
}

button {
	background-color: #4CAF50;
	color: white;
	padding: 1em 2em;
	text-decoration: none;
	display: inline-block;
	font-size: 1em;
	margin: 0.5em;
	border-radius: 0.5em;
	border: none;
	cursor: pointer;
}

button:hover {
	background-color: #3e8e41;
}

.llistaContainer {
	width: 80%;
	margin: 0 auto;
}
  
#llista {
	margin-top: 1.5em;
	list-style: none;
	padding: 0;
}

#llista li {
	font-size: 1em;
	margin: 0.5em;
	padding: 0.5em;
	background-color: #f7f7f7;
	border-radius: 0.5em;
}
