/*   author : Xavier Baubes Parramon   <xbaubes@xtec.cat>   */

body{
    background: cornflowerblue;
    font-family: Helvetica;
    margin: 50px;
}
h1{
    color: white;
    font-size: 1.5em;
    letter-spacing: 0.5px;
    padding: 30px 0px;
    text-align: center;
    text-transform: uppercase;
}

/* Table Styles */

.table-wrapper{
    box-shadow: 0px 35px 50px rgba( 0, 0, 40, 0.2 );
    margin-bottom: 90px;
	overflow-x: auto;
}

/* work in progress ... */
